<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.litgame.wargame.core.mapper.PlayerHistoryMapper">

	<resultMap id="playerHistoryMap" type="cn.litgame.wargame.core.model.PlayerHistory">
		<id property="playerId" column="playerId" />
		<result property="newGameCount" column="newGameCount" />
		<result property="lastNewGameTime" column="lastNewGameTime" />
	</resultMap>
	<insert id="insert" parameterType="cn.litgame.wargame.core.model.PlayerHistory">
	    <![CDATA[
	    	insert into playerHistory(playerId,newGameCount,lastNewGameTime) 
	    		values(#{playerId},#{newGameCount},#{lastNewGameTime})
	    ]]>
	</insert>
	<update id="update" parameterType="cn.litgame.wargame.core.model.PlayerHistory">
	   <![CDATA[
	   	update playerHistory set newGameCount = #{newGameCount},lastNewGameTime=#{lastNewGameTime} where playerId=#{playerId}
	   ]]>
	</update>
	<select id="select" parameterType="long" resultMap="playerHistoryMap">
	    <![CDATA[
	    	select * from playerHistory where playerId = #{playerId}
	    ]]>
	</select>	
	
	<delete id="delete" parameterType="long">
	    <![CDATA[
	    	delete from playerHistory where playerId = #{playerId}
	    ]]>
	</delete>
</mapper>